
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


// Base Layout

.footer-nav {
  display: flex;
 list-style-type: none;
}

.signup-btn {
  position: relative;
  top: 8px;
}
