
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

$sans: 'Open Sans', sans-serif;
$green: #3c763d;
$tan: #d0c4b1;

* {
  font-family: $sans;
}

legend {
  color: $tan;
}
// Base Layout

.nav > li > a:hover {
    text-decoration: none;
    background-color: $green;
  }

.dropdown-menu {
    background-color: $tan;
  }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: $tan;
  }

.contact_us > a {
  color: white;
}

#nav-dropdown {
  color: white;

}

#header-nav {
  margin-bottom: 0px;
  border: none;
  background-color: #2A3914;
}

.footer-nav {
  display: flex;
 list-style-type: none;

 position: absolute;
 right: 0;
 bottom: -1;
 left: 0;
 padding: 1rem;
 background-color: #6a7a67;
 text-align: center;
}

.signup-btn {
  position: relative;
  top: 8px;
}

// Home

.homebg {
  position: absolute;
  z-index: -1;
}

.about_us {
  font-family: $sans;
  color: #d0cac6;
  font-size: 14px;
}

.carousel-indicators {
  bottom: 0px;
}

#myCarousel {
  box-shadow: 5px -2px 25px 10px $tan;
}

// Auth

.auth_contain {
  padding-top: 10%;
}

// Match Browser

.user_home {
  margin-top: 20px;
}
